* {
    padding: 0;
    margin: 0;  
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    box-sizing: content-box;
}

.contenedor-nav-logo {
    /* border: solid 5px red; */
    height: 10vh;
    display: flex;
    flex-direction: row;
    border-bottom: solid 5px #6FD3FB;
    position: fixed;
    width: 100vw;
    background-color: #FFFFFF;
    z-index: 100;
    opacity: .95;
}

.contenedor-logo {
    /* border: solid 5px blue; */
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #3627F6; */
}

#logo-header {
    height: 90%;
    /* border: solid 5px purple; */
}

.contenedor-nav {
    /* border: solid 5px green; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    /* border: solid 5px orange; */
    width: 100%;
}

.contenor-item {
    /* border: solid 5px red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenedor-seccion {
    height: 100vh;
    /* border: solid 5px green; */

}

.contenedor-titulo {
    /* border: solid 6px pink; */
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: #b700d9; */
    background-image: url("https://img.freepik.com/vector-premium/fondo-digital-abstracto-textura-placa-circuito-tecnologia-ilustracion-placa-base-electronica-concepto-comunicacion-e-ingenieria-ilustracion-vectorial_41981-1806.jpg");
    background-size: contain;
}

.espacio-superior{
    height: 10%;
    background-color: #ffffff;
}

h1 {
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.contenedor-seccion-n1 {
    /* border: solid 5px purple; */
    height: 70%;
    display: flex;
    background-image: url("https://img.freepik.com/fotos-premium/fondo-blanco-espacio-copia_1179130-410959.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* #seccion-dos div[class="contenedor-seccion-n1"]{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20220906/pngtree-cool-wave-liquid-background-for-landing-page-website-image_1463455.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

div[class^="contenedor-seccion-n1-n"] {
    /* border: solid 4px yellow; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parrafo-seccion1 {
    height: 80%;
    width: 50%;
    font-size: 1.2rem;
    color: #FFFFFF;
    background-color: black;
    border-radius: 15px;
    padding: 20px;
    opacity: .8;
    z-index: 99;
}

.boton {
    font-size: 2rem;
    border-style: none;
    border-radius: 30px;
    padding: 20px;
    background-color: #fb976f;
    opacity: .8;
    color: #FFFFFF;
}

#boton-dos {
    background-color: #000000;
}

.contenedor-cursos {
    width: 80%;
    height: 90%;
    background-color: black;
    opacity: .8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fila-cursos {
    /* border: solid 5px orangered; */
    height: 16%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.logo-curso {
    /* height: 7rem; */
    padding: 10px;
    width: 10%;

}

.descripcion-curso {
    font-size: 1.2rem;
    color: #FFFFFF;
    padding: 20px;
    width: 55%;

}

.boton-curso {
    background-color: #fb976f;
    color: #FFFFFF;
    font-size: 1rem;
    height: 40%;
    border-radius: 20px;
    border-style: none;
    padding: 10px;
    width: 35%;
    margin: 10px;
}

@media screen and (max-width: 501px) {
    
    .main-nav {
        /* border: solid 5px green; */
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        margin-left: -100%;
        transition: all 0.2s linear;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 100;
    }

    .button-menu {
        z-index: 200;
        width: 40px;
        height: 40px;
        border: none;
        display: flex;
        background: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-right: 10px;
    }

    .button-menu span {
        width: 37px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #fb976f;
        border-radius: 3px;
        transform-origin: 4px 0px;
        transition: all 0.2s linear;
      }

      .button-menu.close span {
        opacity: 1;
        transform: rotate(45deg) translate(0px, 0px);
        background: #ffffff;
      }
      
      .button-menu.close span:nth-child(2) {
        transform: rotate(-45deg) translate(-8px, 5px);
      }
      
      .button-menu.close span:nth-child(3) {
        display: none;
      }

        .main-nav.show {
        margin-left: 0;
        }

        .button-menu.hide{
        display: none;
        }

        .button-menu.show{
        display: block;
        }

          .nav-links {
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            width: 70%;
            height: 100%;
            align-items: start;
            justify-content: space-around;
            z-index: 102;
            /* border: solid 5px green; */
          }

          .link-item {
            margin-left: 1rem;
            margin-top: 2rem;
            color: #000000;
            text-decoration: none;
            font-weight: bold;
            position: relative;
            z-index: 103;
            /* border: solid 5px red; */
          }
          
          .link-item::after {
            position: absolute;
            content: "";
            background-color: black;
            bottom: -5px;
            left: 0;
            width: 0%;
            height: 3px;
            transition: 0.3s ease all;
          }

          .link-item:hover::after {
            width: 100%;
          }

    .contenedor-seccion-n1 {
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #seccion-dos div[class="contenedor-seccion-n1"] {
        flex-direction: column-reverse;
    }

    .contenedor-titulo {
    /* border: solid 6px pink; */
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor-logo {
        /* border: solid 5px green; */
        width: 40%;
    }

    #logo-header {
        height: 80%;
    }

    .contenedor-nav {
        /* border: solid 5px green; */
        width: 60%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .espacio-superior{
        height: 10%;
        background-color: #ffffff;
        /* border: solid 5px red; */
    }

    h1 {
        font-size: 1rem;
        width: 100%;
    }

    div[class="contenedor-seccion-n1-n1"] {
        height: 70%;
        width: 100%;
    }

    div[class="contenedor-seccion-n1-n2"] {
        height: 30%;
        width: 100%;
    }

    .parrafo-seccion1 {
        height: 75%;
        width: 70%;
        font-size: 1rem;
    }

    .descripcion-curso {
        font-size: .7rem;
        color: #FFFFFF;
        padding: 20px;
        width: 50%;
    
    }

    .boton-curso {
        font-size: .7rem;
        height: 40%;
        padding: 10px;
        width: 40%;
        margin: 10px;
    }

    

}