* {
    padding: 0;
    margin: 0;  
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}

.contenedor-nav-logo {
    /* border: solid 5px red; */
    height: 10vh;
    display: flex;
    flex-direction: row;
    border-bottom: solid 5px black;
}

.contenedor-logo {
    /* border: solid 5px blue; */
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

#logo-header {
    height: 90%;
    /* border: solid 5px purple; */
}

.contenedor-nav {
    /* border: solid 5px green; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    /* border: solid 5px orange; */
    width: 100%;
}

.contenor-item {
    /* border: solid 5px red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}








